---
layout: layout
---
<article class="post-card page-detail">
  <div class="glass-reflection"></div>
  <div class="card-floor"></div>
  
  <div class="post-card-body">
    <h1 class="page-title"><%= page.title %></h1>
    <div class="post-content">
      <%- page.content %>
    </div>
  </div>
</article>
