<header class="header">
  <div class="header-inner container">
    <a href="<%= url_for('/') %>" class="site-title"><%= config.title %></a>
    <button class="nav-toggle" id="navToggle" aria-label="menu">
      <i class="fas fa-bars"></i>
    </button>
    <nav class="nav" id="navMenu">
      <ul class="nav-list">
        <% if (theme.menu) { %>
          <% for (var name in theme.menu) { %>
            <li class="nav-item">
              <a href="<%= url_for(theme.menu[name]) %>"><%= name %></a>
            </li>
          <% } %>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
