<footer class="footer">
  <div class="footer-inner">
    <div class="footer-btn-container">
      <a href="<%= url_for('/') %>" class="footer-btn-rect">喵宅后院</a>
    </div>
    <p class="footer-miao-link">
      <a href="https://www.o-o.zone" target="_blank">喵宅苑</a>
    </p>
    <p class="footer-proud">自豪地使用 Hexo 构建</p>
  </div>
</footer>
