<footer class="footer">
  <div class="footer-inner">
    <p>&copy; <%= theme.since %> - <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
    <p class="footer-text"><%= theme.footer.text %></p>
    <p class="power-by">Powered by <a href="https://hexo.io" target="_blank">Hexo</a> &amp; Theme <a href="#">owo-story</a></p>
  </div>
</footer>
