<footer class="footer">
  <div class="footer-inner">
    <h3 class="footer-title">
      <a href="<%= url_for('/') %>">喵宅后院</a>
    </h3>
    <p class="footer-link">
      <a href="https://www.o-o.zone" target="_blank">喵宅苑</a>
    </p>
  </div>
</footer>
